<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">


	<title>Add File Record</title>


	<!--Font Awesome-->
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/css/service.css">

</head>

<body>
	<%- include header.ejs %>
	<% if (typeof message.successMessage !== 'undefined') { %>
	<div id="msgid"><i class="fa fa-check" aria-hidden="true"></i><span> <%= message.successMessage %></span></div>
	<%} else { %>
	<% } %>
	<% if (typeof message.errorMessage !== 'undefined') { %>
	<div id="errmsgid"><i class="fa fa-times" aria-hidden="true"></i><span> <%= message.errorMessage %></span></div>
	<%} else { %>
	<% } %>
	<br>
	<br>
	<div class="overlay">
		<form action="/tracker/api/files" enctype="application/json" method="POST" onsubmit="disableScreen()">
			<!--   con = Container  for items in the form-->
			<div class="con">
				<!--     Start  header Content  -->
				<header class="head-form">
					<h2>Add File Record</h2>
				</header>
				<!--     End  header Content  -->
				<br>
				<br>
				<div class="field-set">


					<span class="input-item">
						<i class="fa fa-file" aria-hidden="true"></i>
					</span>

					<input class="form-input" type="text" placeholder="File Name" id="name" name="name" required>

					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="amount" name="amount" type="text" placeholder="Amount" required>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<select class="form-select" id="financialYear" name="financialYear"
						aria-placeholder="Financial Year">
						<option value="volvo">2017</option>
						<option value="saab">2018</option>
						<option value="fiat">2019</option>
					</select>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="dealer" name="dealer" type="text" placeholder="Dealer" required>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="contact" name="contact" type="text" placeholder="Contact No" required>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<select class="form-select" id="category" name="category" aria-placeholder="Category">
						<option value="volvo">Quotation</option>
						<option value="saab">Safety</option>
						<option value="fiat">Tender</option>
					</select>
					<br>
					<br>

					<button type="submit" id="addbtn"> Submit </button>
				</div>


				<!--   End Conrainer  -->
			</div>

			<!-- End Form -->
		</form>
	</div>
	<script src="/js/serviceJS.js"></script>

</body>


</html>