<div class="navbar">
	<ul>
		<li><a class="navbar-header" href="#">EMPLOYEE RECORD MANAGEMENT</a></li>
		<li><a href="/tracker">Add Record</a></li>
		<li><a href="/tracker/api/files">View Record</a></li>
	</ul>
</div>