<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">


	<title>Add Service Record</title>


	<!--Font Awesome-->
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/css/service.css">

</head>

<body>
	<div class="navbar">
		<ul>
			<li><a class="navbar-header" href="#">EMPLOYEE RECORD MANAGEMENT</a></li>
			<li><a href="/">Add Record</a></li>
			<li><a href="/updateServiceRecord">Update Record</a></li>
			<li><a href="/viewAllRecord">View Record</a></li>
		</ul>
	</div>
	<% if (typeof message.successMessage !== 'undefined') { %>
	<div id="msgid"><i class="fa fa-check" aria-hidden="true"></i><span> <%= message.successMessage %></span></div>
	<%} else { %>
	<% } %>
	<% if (typeof message.errorMessage !== 'undefined') { %>
	<div id="msgid"><i class="fa fa-check" aria-hidden="true"></i><span> <%= message.errorMessage %></span></div>
	<%} else { %>
	<% } %>

	<br>
	<br>
	<div class="overlay">

		<form action="/api/employees" enctype="multipart/form-data" method="POST">
			<!--   con = Container  for items in the form-->
			<div class="con">
				<!--     Start  header Content  -->
				<header class="head-form">
					<h2>Add Service Record</h2>

				</header>
				<!--     End  header Content  -->
				<br>
				<br>
				<div class="field-set">
					<!--   Employee ID -->

					<span class="input-item">
						<i class="fa fa-id-card" aria-hidden="true"></i>
					</span>
					<!--   Employee ID Input-->
					<input class="form-input" type="text" placeholder="Employee ID" id="empId" name="empId" required>

					<br>
					<br>
					<!--   Employee name -->
					<span class="input-item">
						<i class="fa fa-user-circle"></i>
					</span>
					<!--   Employee name Input-->
					<input class="form-input" id="empName" name="empName" type="text" placeholder="@EmployeeName"
						required>
					<br>
					<br>
					<span class="input-item">
						<i class="fa fa-file" aria-hidden="true"></i>
					</span>
					<input class="form-input" id="filename" placeholder="Service Record" type="text" required>
					<input id="file" name="serviceRec" type="file" class="upload" />
					<label name="serviceRec" for="file"> Upload
						<i class="fa fa-upload" aria-hidden="true"></i>
					</label>
					<br>
					<br>
					<!--        buttons -->
					<!--      Submit -->
					<button type="submit" class="log-in"> Submit </button>
					<!-- <input type="submit" class="log-in" value="Submit"> -->
				</div>


				<!--   End Conrainer  -->
			</div>

			<!-- End Form -->
		</form>
	</div>
	<script src="/js/serviceJS.js"></script>

</body>


</html>